h1 {
    text-align: center;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

body {
    background-color: lightslategray;
}

article {
    background-color: white;
    border: 1px solid gray;
    padding: 72px 16px 16px 16px;
    display: inline-block;
    width: 46%;
    min-width: 300px;
    bottom: 16px;
    top: 80px;
    position: absolute;
    overflow-y: auto;
}

#function-list {
    left: 16px;
}

#function-runner {
    right: 16px;
}

.function-card {
    margin-top: 4px;
    padding: 8px;
}
.function-card:hover {
    background-color: #eee;
    cursor: pointer;
}

.function-card__name {
    font-size: 1.3em;
}
.function-card__name:hover {
    font-weight: bold;
}

.function-card__body {
    display: none;
}

#function-runner__result {
    border-top: 1px solid gray;
    margin-top: 8px;
    padding-top: 8px;
    min-height: 50px;;
}