.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    border: 1px solid gray;
    margin: 8px;
    padding: 16px;
    display: inline-block;
}

.function-card {
    margin-top: 4px;
    padding: 4px;
}

.function-card:hover {
    background-color: #eee;
    cursor: pointer;
}