h1 {
    text-align: center;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
    height: 48px;
    padding-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

body {
    background-color: lightslategray;
}

article {
    background-color: white;
    border: 1px solid gray;
    padding: 16px 16px 16px 16px;
    display: inline-block;
    /* width: 46%; */
    min-width: 300px;
    position: absolute;
    overflow-y: auto;
}

.top-half {
    padding-top: 72px;
    bottom: 40%;
    top: 80px;
}

.bottom-half {
    top: calc(60% + 16px);
    bottom: 16px;
}

.left-side {
    left: 16px;
    right: calc(50% + 8px);
}

.right-side {
    left: calc(50% + 8px);
    right: 16px;
}

.function-card {
    margin-top: 4px;
    padding: 8px;
}
.function-card:hover {
    background-color: #eee;
    cursor: pointer;
}

.function-card__name {
    font-size: 1.3em;
}
.function-card__name:hover {
    font-weight: bold;
}

#function-runner__args li {
    margin-top: 8px;
}

#function-runner__args textarea {
    font-size: 1.3em;
}
